<a href="https://colab.research.google.com/github/lqcgithub/MiningofMassiveDatasets/blob/main/Recommender_Systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Recommendation system.**

# I. Tổng quát 


---


Recommender System (RS) là một hệ thống khuyến nghị. Nhiệm vụ của RS là dự đoán mức độ quan tâm của người dùng với một sản phẩm nào đó thông qua các mô hình khuyến nghị thích hợp.

Cần quan tâm: users, items, ratings.
# II. Mô hình khuyến nghị


---


a. Content-based System

Khuyến nghị dựa trên đặc tính sản phẩm. Dễ thấy nhất là các hệ thống sử dụng loại, thể loại sản phẩm mà user tiêu thụ để khuyến nghị cho họ những sản phẩm có loại, thể loại tương tự. 

--> những sản phẩm không rõ phân loại, hay quá nhiều phân loại sẽ ảnh hưởng đến acuracy của mô hình.

b. Collaborative Filtering

Khuyến nghị dựa trên sự tương quan giữa users vs users, items vs items, hoặc cả 2. Ví dụ một nhóm user A, B, C thích item I và dữ liệu cho thấy B, C cũng thích item I2. Hệ thống sẽ khuyến nghị item I2 cho A vì có khả năng A cũng thích I2.

--> hoàn thiện hơn Content-based System.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import time

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

In [ ]:
from pandas import DataFrame

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/sample-datasets/ratings.csv',usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [ ]:
ratings.head(5)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
ratings.shape

(100836, 3)

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/sample-datasets/movies.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})

In [ ]:
movies.head(5)

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
movies.shape

(9742, 2)

In [ ]:
ratings_df = ratings.copy()
movies_df = movies.copy()

In [ ]:
df = pd.merge(ratings_df,movies_df,on='movieId')

In [ ]:
df.head(5)

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [ ]:
df.describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042562
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [ ]:
util_mat=df.pivot_table(index='userId',columns='title',values='rating')
util_mat.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN

[5 rows x 9719 columns]

In [ ]:
util_mat.loc[7,:].dropna()

title
2001: A Space Odyssey (1968)           4.0
A.I. Artificial Intelligence (2001)    4.5
Aladdin (1992)                         3.0
American Beauty (1999)                 4.0
Apocalypse Now (1979)                  4.0
                                      ...
What Women Want (2000)                 4.0
Wild Wild West (1999)                  1.5
X-Men (2000)                           3.5
X-Men: The Last Stand (2006)           4.0
X2: X-Men United (2003)                4.0
Name: 7, Length: 152, dtype: float32

In [ ]:
user_util_matrix = util_mat.copy()
user_util_matrix = user_util_matrix.apply(lambda row: row.fillna(row.mean()), axis=1)
user_util_matrix.head(5)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1         4.366379  ...                                   4.366379
2         3.948276  ...                                   3.948276
3         2.435897  ...                                   2.435897
4         3.555556  ...                                   3.555556
5         3.636364  ...                                   3.636364

[5 rows x 9719 columns]

In [ ]:
user_util_matrix.T.corr(method ='pearson')

userId       1             2             3    ...       608           609       610
userId                                        ...
1       1.000000  1.264517e-03  5.525789e-04  ...  0.075224 -2.571255e-02  0.010932
2       0.001265  1.000000e+00 -1.043295e-17  ... -0.006001 -6.009099e-02  0.024999
3       0.000553 -1.043295e-17  1.000000e+00  ... -0.013001  2.822380e-17  0.019550
4       0.048419 -1.716402e-02 -1.125978e-02  ... -0.037569 -1.788358e-02 -0.000995
5       0.021847  2.179572e-02 -3.153892e-02  ... -0.001751  9.382890e-02 -0.000278
...          ...           ...           ...  ...       ...           ...       ...
606     0.012016  6.225828e-03 -3.728895e-02  ...  0.056676  3.842210e-02  0.075464
607     0.055261 -2.050374e-02 -7.789104e-03  ...  0.044514  1.904918e-02  0.021860
608     0.075224 -6.000825e-03 -1.300064e-02  ...  1.000000  5.071449e-02  0.054454
609    -0.025713 -6.009099e-02  2.822380e-17  ...  0.050714  1.000000e+00 -0.012471
610     0.010932  2.499921e-02  1.954997e-02  ...  0.054454 -1.247143e-02  1.000000

[610 rows x 610 columns]

In [ ]:
# from sklearn.metrics import pairwise_distances
# from scipy.spatial.distance import cosine

# dist_out = 1-pairwise_distances(user_util_matrix.T, metric="cosine")
# dist_out

In [ ]:
copy_corr_mat = user_util_matrix.T.corr(method ='pearson')

In [ ]:
user7_movies = df[df['userId'] == 7]
user7_movies

       userId  movieId  rating                                      title
2           7        1     4.5                           Toy Story (1995)
575         7       50     4.5                 Usual Suspects, The (1995)
1570        7      260     5.0  Star Wars: Episode IV - A New Hope (1977)
2428        7      356     5.0                        Forrest Gump (1994)
3190        7      480     5.0                       Jurassic Park (1993)
...       ...      ...     ...                                        ...
39672       7    48997     2.5    Perfume: The Story of a Murderer (2006)
39680       7    49272     4.5                       Casino Royale (2006)
39761       7    49278     3.5                   Déjà Vu (Deja Vu) (2006)
39781       7    49286     0.5                        Holiday, The (2006)
39805       7    49824     3.0                          Dreamgirls (2006)

[152 rows x 4 columns]

In [ ]:
util_mat.loc[7, :]

title
'71 (2014)                                  NaN
'Hellboy': The Seeds of Creation (2004)     NaN
'Round Midnight (1986)                      NaN
'Salem's Lot (2004)                         NaN
'Til There Was You (1997)                   NaN
                                             ..
eXistenZ (1999)                             NaN
xXx (2002)                                  NaN
xXx: State of the Union (2005)              NaN
¡Three Amigos! (1986)                       NaN
À nous la liberté (Freedom for Us) (1931)   NaN
Name: 7, Length: 9719, dtype: float32

In [ ]:
df[df['title'] == "'Hellboy': The Seeds of Creation (2004)"]

       userId  movieId  rating                                    title
97100     332    97757     4.0  'Hellboy': The Seeds of Creation (2004)

In [ ]:
users_who_rated_97757 = df[df['movieId'] == 1]['userId'].values
users_who_rated_97757[0:5]

array([ 1,  5,  7, 15, 17], dtype=int32)

In [ ]:
def find_user_neighbours(userId, users_who_rated_item, k=10):
  sims = []
  users = []
  for user in users_who_rated_item:
    sim = copy_corr_mat.loc[user, userId] 
    sims.append(sim)
    users.append(user)
  sims_df = pd.DataFrame({'user': users, 'similarity': sims}).set_index('user')
  sims_df.sort_values(by='similarity', ascending=False, inplace=True)
  closet_neighbours = sims_df[1:k]
  closet_neighbours
  return closet_neighbours

In [ ]:
users_who_rated_item = df[df['movieId'] == 1]['userId'].values
closet_neighbours = find_user_neighbours(7, users_who_rated_item)
closet_neighbours

      similarity
user
434     0.137777
590     0.129029
220     0.125077
219     0.118220
605     0.108622
276     0.108187
596     0.107557
380     0.104129
63      0.099059

In [ ]:
def predict_rating(userId, movieId):
  sum_similarity = 0
  weighted_ratings = 0
  users_who_rated_item = df[df['movieId'] == movieId]['userId'].values
  closet_neighbours = find_user_neighbours(userId, users_who_rated_item)
  for user in closet_neighbours.index:
    weighted_ratings += closet_neighbours.loc[user] * df[ (df['userId'] == user) & (df['movieId'] == movieId) ]['rating'].sum()
    sum_similarity += closet_neighbours.loc[user]
    global predict_rate 
    predict_rate = weighted_ratings / sum_similarity
  return predict_rate.values[0]

In [ ]:
start = time.time()
print("Prediction results is: {:.2f} star".format(predict_rating(7, 1)))
end = time.time()
print("Simple Recommendation task completed in {:.4f} seconds" .format(end-start))

Prediction results is: 4.26 star
Simple Recommendation task completed in 0.0320 seconds

In [ ]:
user7_movies_set = ratings_df[ratings_df['userId'] == 7]
user7_movies_set

      userId  movieId  rating
874        7        1     4.5
875        7       50     4.5
876        7       58     3.0
877        7      150     4.5
878        7      165     4.0
...      ...      ...     ...
1021       7    48997     2.5
1022       7    49272     4.5
1023       7    49278     3.5
1024       7    49286     0.5
1025       7    49824     3.0

[152 rows x 3 columns]

In [ ]:
user7_not_rated = movies_df.set_index('movieId').subtract(user7_movies_set.set_index('movieId'), axis='columns')
user7_not_rated

         rating  title  userId
movieId
1           NaN    NaN     NaN
2           NaN    NaN     NaN
3           NaN    NaN     NaN
4           NaN    NaN     NaN
5           NaN    NaN     NaN
...         ...    ...     ...
193581      NaN    NaN     NaN
193583      NaN    NaN     NaN
193585      NaN    NaN     NaN
193587      NaN    NaN     NaN
193609      NaN    NaN     NaN

[9742 rows x 3 columns]

In [ ]:
recommendations =[]
for movie in user7_not_rated.index:
  prediction = predict_rating(7, movie)
  if prediction >= 4.5:
    recommendations.append(movie)

In [ ]:
print(len(recommendations))
recommendations[0:5]

802

[40, 50, 53, 99, 123]


1.   Đối chiếu với moviesDataFrame.
2.   Tính độ popular của movie = lượt rating.
3.   Filter recommendations vs threshold popular > mean(popular)